// Breakpoints
$viewport-small: 576px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;

// Numbers of Columns
$number-columns: 12;

// Primer esquema de color
$white: #fff;
$platinum: #E8E8E8;
$gray: #BABABA;

// Segundo esquema de color
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;

//tercer esquema de color
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

//cuarto esquema de color
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;

//quinto esquema de color
$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice: #AEACAF;