.main-menu {

    &__left {
      svg {
        height: $x-large;
      }
    }

    &__right {
      display: flex;
      justify-content: flex-end;

      i {
        font-size: $x-large;
      }
    }

    @media only screen and (min-width: $viewport-medium) {
      &__left {
        a {
          margin-right: 15px;
          position: relative;
          top: -10px;
        }
      }
    }

  }

  .main-menu {

    &__left {
      a {
        display: none;
      }
    }

    &__right {
      button {
        display: none;
      }
    }

    @media only screen and (min-width: $viewport-medium) {
      &__left {
        a {
          display: initial;
        }
      }

      &__right {
        button {
          display: initial;
        }

        i {
          display: none;
        }
      }
    }

  }