.caracteristics {

    &__parrafo {
        text-align: left;
        max-width: 28vw;
        @media screen and  (min-width: 350px) and (max-width: 500px) {
            text-align: left;
            max-width: 67vw!important;
          }
    }

    &__titulo {
        text-align: center;
    }

    &__image {
        display: grid;
        align-self: end;
        position: relative;
		animation: mymove 2.3s infinite;
		animation-timing-function: ease-in-out;
    }
}

.banner article {
    margin: 0 auto;
    position: relative;
    top: 4vh;
    width: 77vw;
}

div.row{
    justify-items: center;
}

@media only screen and (min-width: 768px) {
    .banner article {
        margin: initial;
        left: 8vw;
        width: 32vw;
    }
}

@keyframes mymove {
    0% {
        opacity: 0.0;
      }

    50% {
        opacity: 2;
    }
    
      100% {
      opacity: 5;
    }
  }