.caracteristics {

    &__parrafo {
        text-align: left;
        max-width: 28vw;
    }

    &__titulo {
        text-align: center;
    }

    &__image {
        display: grid;
        align-self: end;
    }
}

.banner article {
    margin: 0 auto;
    position: relative;
    top: 4vh;
    width: 77vw;
}

div.row{
    justify-items: center;
}

@media only screen and (min-width: 768px) {
    .banner article {
        margin: initial;
        left: 8vw;
        width: 32vw;
    }
}